@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #0f172a;

  --primary: #70645c;
  --primary-foreground: #ffffff;

  --secondary: #e5e7eb;
  --secondary-foreground: #0f172a;

  --muted: #f1f5f9;
  --muted-foreground: #475569;

  --accent: #f1f5f9;
  --accent-foreground: #0f172a;

  --destructive: #dc2626;
  --destructive-foreground: #ffffff;

  --success: #16a34a;
  --success-foreground: #ffffff;

  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #70645c;

  --radius: 0.75rem;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
